body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(circle, rgb(8, 62, 105) 0%, rgba(8,4,20,1) 40%, rgba(8,4,20,1) 100%);
}

body#changeColor {
  background: radial-gradient(circle, rgba(198,216,231,1) 15%, rgba(5,39,67,1) 100%, rgba(8,4,20,1) 100%) !important;
  transition: all 1s ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
